.cards {
  padding-top: 38px;
}

@media (max-width: $width-only-mobile) {
  .cards {
    padding-top: 25px;
  }
}

.cards__buttons-wrapper {
  margin-top: 68px;
  text-align: center;
}

@media (max-width: $width-only-mobile) {
  .cards__buttons-wrapper {
    margin-top: 25px;
  }
}

.cards__add-button {
  @include reset-button;
  min-height: 65px;
  min-width: 380px;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid $darker-white;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: $width-only-mobile) {
  .cards__add-button {
    width: 100%;
    min-width: auto;
  }
}

.cards__add-button:hover,
.cards__add-button:focus,
.cards__add-button:active {
  color: $white;
  background-color: $blue;
}
