.filter {
  display: flex;
  margin-top: -15px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: $width-only-tablet) {
  .filter {
    flex-wrap: wrap;
  }
}

.filter__text-wrapper {
  margin-top: 15px;
}

.filter__text {
  margin: 0 48px 0 0;
  font-weight: 700;
}

.filter__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.filter__item + .filter__item {
  margin-left: 55px;
}

@media (max-width: $width-only-mobile) {
  .filter__item + .filter__item {
    margin-left: 20px;
  }
}

.filter__button {
  @include reset-button;
  display: flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.filter__button::after {
  content: "";
  position: relative;
  display: block;
  margin-left: 14px;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-arrow-down.svg");
}
