.form__list {
  @include reset-list;
}

.form__item + .form__item {
  margin-top: 24px;
}

.form__item--grid {
  display: flex;
  margin-top: -15px;
  margin-left: -16px;
}

@media (max-width: $width-only-tablet) {
  .form__item--grid {
    flex-wrap: wrap;
  }
}

.form__input-wrapper,
.form__button-wrapper {
  padding-top: 15px;
  padding-left: 16px;
}

.form__input-wrapper {
  width: 55%;
  max-width: 300px;
}

.form__button-wrapper {
  width: 45%;
  max-width: 250px;
}

@media (max-width: $width-only-tablet) {
  .form__input-wrapper,
  .form__button-wrapper {
    width: 100%;
    max-width: none;
  }
}

.form__input,
.form__button {
  width: 100%;
  min-height: 65px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
}

.form__input {
  padding-left: 33px;
  border: 0;
}

.form__input::placeholder {
  opacity: 1;
}

.form__button {
  @include reset-button;
  font-weight: 700;
  color: inherit;
  background-color: $blue;
  cursor: pointer;
}

.form__label-checkbox {
  display: flex;
  cursor: pointer;
}

.form__checkbox-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: bottom;
  background-color: $blue;
  border-radius: 3px;
}

.form__checkbox-icon-checked {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.form__label-checkbox input:checked + .form__checkbox-icon-wrapper .form__checkbox-icon-checked {
  display: block;
}

.form__checkbox-text {
  margin-left: 18px;
  font-size: 14px;
  line-height: 17px;
}
