.nav__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-top: -15px;
}

@media (max-width: $width-only-mobile) {
  .nav__list {
    flex-direction: column;
    margin-top: 10px;
  }
}

.nav__item {
  padding-top: 15px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: $width-only-mobile) {
  .nav__item {
    font-size: 22px;
    line-height: 26px;
  }
}

.nav__item a {
  color: inherit;
}
