.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
  margin-bottom: 114px;
  padding: 83px 80px 92px 80px;
  color: $white;
  background-color: $pale-black;
}

@media (max-width: $width-only-tablet) {
  .promo {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 45px 40px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo {
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 35px;
    padding: 20px 15px;
  }
}

.promo__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

@media (max-width: $width-only-tablet) {
  .promo__title {
    font-size: 34px;
    line-height: 44px;
  }
}

@media (max-width: $width-only-tablet) {
  .promo__title {
    text-align: center;
  }
}

.promo__text {
  margin: 26px 0 0 0;
  font-size: 28px;
  line-height: 26px;
}

@media (max-width: $width-only-tablet) {
  .promo__text {
    font-size: 22px;
    line-height: 20px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__text {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.promo__form {
  width: 53%;
}

@media (max-width: $width-only-tablet) {
  .promo__form {
    width: 48%;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__form {
    width: 100%;
  }
}
