.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
  margin-bottom: 114px;
  padding: 83px 80px 92px 80px;
  color: $white;
  background-color: $pale-black;
}

.promo__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.promo__text {
  margin: 26px 0 0 0;
  font-size: 28px;
  line-height: 26px;
}

.promo__form {
  width: 56%;
}
