$black: #000000;
$deep-black: #0f0b08;
$pale-black: #1f2021;
$light-black: rgba(31, 32, 33, 0.79);
$darker-white: #CACACA;
$dark-white: #f3f3f3;
$white: #ffffff;
$pale-white: rgba($white, 0.5);
$blue: #6ebbd3;
$red: #e52d2d;
