html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $black;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
